/public_html/plugin/cookieconsent/storage/logs/*.log
/public_html/plugin/cookieconsent/storage/cache/*
/public_html/plugin/cookieconsent/storage/tmp/*
/public_html/plugin/cookieconsent/storage/uploads/*
/vendor/
/node_modules/
.env
.DS_Store
